@import '../../../../content/sass/helpers/_variables.scss';
@import '../../../../content/sass/helpers/mixins';
@import '../../../../content/sass/components/section-title';

/*---------------------------
   offer-area
----------------------------*/

.offer-area {
  .offer-wrap {
    @media (max-width: 991px) {
      margin-top: 80px;
    }

    .offer-title {
      small {
        display: block;
        font-size: 22px;
        line-height: 25px;
        background: -webkit-linear-gradient($theme-primary-color, $theme-secondary-color);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-bottom: 20px;

        @media (max-width: 991px) {
          font-size: 20px;
          margin-bottom: 10px;
        }
      }

      h2 {
        font-size: 55px;
        line-height: 80px;
        font-weight: 600;
        margin-bottom: 15px;

        @media (max-width: 1200px) {
          font-size: 40px;
          line-height: 65px;
        }
        @media (max-width: 991px) {
          font-size: 40px;
          line-height: 55px;
          margin-bottom: 10px;
        }
        @media (max-width: 450px) {
          font-size: 30px;
          line-height: 45px;
        }
      }

      /* Utilisez `& {}` pour conserver les déclarations après les règles imbriquées */
      & {
        padding-bottom: 20px;
        position: relative;
        margin-bottom: 40px;
      }

      &:after {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 30px;
        height: 6px;
        background: linear-gradient(to right, $theme-primary-color, $theme-secondary-color);
        content: '';
      }

      &:before {
        position: absolute;
        left: 40px;
        bottom: 0;
        width: 40px;
        height: 6px;
        background: linear-gradient(to right, $theme-primary-color, $theme-secondary-color);
        content: '';
      }
    }

    p {
      margin-bottom: 30px;
    }
  }
}
