.theme-btn{
	background: $theme-primary-color;
	color: $white;
	font-size: 18px;
    font-weight: 500;
    display: inline-block;
    padding: 15px 40px 12px 30px;
	border: 0;
	@include rounded-border(0);
	text-transform: uppercase;
	transition: all .3s;

	i{
		margin-left: 10px;
	}

	&:hover,
	&:focus,
	&:active {
		background:darken($theme-primary-color, 6%);
		color: $white;
	}

	@include media-query(767px) {
		padding: 12px;
		font-size: 13px;
	}
}
