@import '../../../../content/sass/helpers/_variables.scss';
@import '../../../../content/sass/helpers/mixins';
@import '../../../../content/sass/components/section-title';

/*---------------------------
   client-area
----------------------------*/

.client-area {
  margin-bottom: 75px;

  h2.hidden {
    display: none;
  }
  .owl-carousel .owl-item img {
    width: unset;
    margin: 0 auto;
  }

  &.s2 {
    padding-bottom: 110px;

    @media (max-width: 767px) {
      padding-bottom: 60px;
    }
  }

  .owl-prev,
  .owl-next {
    display: none;
  }

  img {
    width: unset !important;
  }

  .slick-list {
    text-align: center;
  }
}
